/.venv/**
/.vscode/**
# /airflow/config/**
/data/mongodb/**
/airflow/airflow.cfg
/airflow/airflow.db
/airflow/airflow.db-journal
/airflow/airflow-webserver.pid
/airflow/webserver_config.py
/airflow/standalone_admin_password.txt
/airflow/logs/**
/airflow/utils/images/model/**
/yolov8n.pt
.env
logs/**
/airflow/utils/images/model/*.pt
/airflow/data/**
/*.ipynb
/temp.json
/samples/*.ipynb